* {
    font-family: Nunito Sans, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 98%);
    color:hsl(200, 15%, 8%);
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    padding: 20px 50px 20px 50px;
    box-shadow: 0px 3px #e1e4de40;
}
nav.dark-element{
    box-shadow: 0px 3px #2b3945;
}
.nav-title{
    flex-grow: 1;
    flex-shrink: 0;
    font-weight: 800;
}

.mode {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.back{
    display:flex;
    margin-top: 20px;
    margin: 40px 50px 0px 50px;
    
}

.back a{
    padding:8px 30px 8px 30px;
    border: 1px solid #45464440;
    border-radius: 3px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 52%);
    font-size: 12px;
    box-shadow: 1px 1px 0px 0px #45464440;
    text-decoration: none;

}
.back a.dark-element{
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}
.back-button{
    display:flex;
    gap:5px;
}

.country-card{
    display:none;
    gap:50px;
    background-color: hsl(0, 0%, 100%);
}
.country-card.dark{
    background-color: hsl(207, 26%, 17%); ;
}
.container{
    padding: 40px 50px 0px 50px;
}
.country-card .flag{
    height: 300px;
}
.flag img{
    width: 400px;
    height: 300px;
}

.country-card .contents{
    padding-top: 35px;
    flex-grow: 1;
    display: flex;
    gap:30px;
    flex-direction: column;
}
.detail-item{
    display: flex;
    gap:5px;
}
.native-name{
    display: flex;
    gap:5px;
    flex-wrap: wrap;
}

.border-countries a{
    padding:6px 20px 6px 20px;
    border: 1px solid #45464440;
    border-radius: 3px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 52%);
    font-size: 12px;
    box-shadow: 1px 1px 0px 0px #45464440;
    text-decoration: none;
}
.border-countries a.dark-element{
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 0px 0px #2b3945;
}
.bottom-details{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
   
}
.border{
    display: flex;
    flex-wrap: wrap;
    gap:2px;
  
}
.border-countries{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}
.border .key{
    margin-top: 5px;
}
.key{
    font-weight: 300;
}
.value{
    color: hsl(0, 0%, 52%);
}
.left-details.dark .value{
    color: hsl(0, 0%, 100%);
}
.right-details.dark .value{
    color: hsl(0, 0%, 100%);
}

.contents .top-detail{
    font-weight: 600;
    font-size: 16px;
} 
.contents .middle-details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left-details, .right-details{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.loader-div {
    display: none;
    opacity: 0.8;
}
.loader-div img{
    border-radius: 100px;
    margin: auto;
}
.error{
    border: 1px solid #f57149;
    border-radius: 5px;
    padding: 10px;
    color:black;
    background-color: #f57149;
    color:hsl(0, 0%, 100%);
    margin: 20px 50px 0px 50px;
    text-align: center;
    display: none;
}
@media all and (max-width: 670px) {
    .country-card{
        flex-wrap:wrap;
    }
    .right-details{
        margin-top: 30px;
    }
    .top-detail{
        margin-top: -150px;
    }
    .flag img{
        width: 100%;
        height: 200px;
    }
}

body.dark{
    background-color: hsl(207, 26%, 17%);
    color:hsl(0, 0%, 100%);
}

.dark-element{
    background-color: hsl(209, 23%, 22%)
}
.fa-sun{
  color:white;
}