* {
    font-family: Nunito Sans, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 98%);
    color:hsl(200, 15%, 8%);
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    padding: 20px 50px 20px 50px;
    box-shadow: 0px 3px #e1e4de40;
}

.nav-title{
    flex-grow: 1;
    flex-shrink: 0;
    font-weight: 800;
}

.mode {
    display: flex;
    gap: 5px;
}

.options{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
    margin-top: 20px;
}
.search-input{
    flex-grow: 1;
    position: relative;
}

.country-field{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 3px;
    padding: 10px;
    padding-left: 50px;
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    box-shadow: 1px 2px 1px #e1e4de40;
    outline: 0;
}

.country-field:focus{
    border-color: hsl(0, 0%, 100%);
    outline: 0;
    box-shadow: 0px 3px #e1e4de40;
    padding: 10px;
    padding-left: 50px;
}

.country-field::placeholder {
    color: hsl(0, 0%, 52%);
    opacity: 1;
    padding: 10px;
    font-size: 12px;
}

.search-icon{
    position: absolute;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 52%);
}

.filter{
    width: 200px;
    position: relative;
}

.filter:hover .filter-items{
    display: block;

}
.filter-select{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 3px;
    background-color: hsl(0, 0%, 100%);
    font-size: 12px;
    cursor: pointer;
    box-shadow: 1px 2px 1px #e1e4de40;
}

.filter-items{
    border-radius: 3px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 5px;
    box-shadow: 1px 2px 1px #e1e4de40;
    position: absolute;
    display: none;
}

.filter-items .item{
    padding: 10px;
    font-size: 12px;
    width: 200px
}

.filter-items .item:hover{
    background-color: hsl(0, 0%, 98%);
}
.filter-items .item:active{
    background-color: hsl(0, 0%, 98%);
}

.display-countries{
    display: none;
    flex-wrap: wrap;
    gap: 42px;
    align-items: center;
    padding: 20px 50px 20px 50px;
}

.card{
    width: 255px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 3px;
}
.flag img{
    border-radius: 5px 5px 0 0 ;
    height: 150px;
    width: 255px;
}
.content{
    padding-left: 15px;
    padding-bottom: 30px;
    margin: 0;
}
.content .header{
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

.loader-div {
    display: none;
    opacity: 0.8;
}
.loader-div img{
    border-radius: 100px;
    margin: auto;
}

.content .details{
    display: flex;
    flex-direction: column;
    gap:3px;
}

.population, .capital, .region{
    display: flex;
    gap:1px;
}
.key{
    font-weight: 300;
}
.value{
    color: hsl(0, 0%, 52%);
}

.error{
    border: 1px solid #f57149;
    border-radius: 5px;
    padding: 10px;
    color:black;
    background-color: #f57149;
    color:white;
    margin-top: 20px;
    text-align: center;
    display: none;
}
